@font-face {
  font-family: "PlusJakartaSans-Regular", system-ui;
  src: url("../src/assets/fonts/PlusJakartaSans-Regular.woff")
    format("truetype");
  font-display: "swap";
}

@font-face {
  font-family: "PlusJakartaSans-Medium", system-ui;
  src: url("../src/assets/fonts/PlusJakartaSans-Medium.woff") format("truetype");
  font-display: "swap";
}

@font-face {
  font-family: "PlusJakartaSans-SemiBold", system-ui;
  src: url("../src/assets/fonts/PlusJakartaSans-SemiBold.woff")
    format("truetype");
  font-display: "swap";
}

@font-face {
  font-family: "PlusJakartaSans-Bold", system-ui;
  src: url("../src/assets/fonts/PlusJakartaSans-Bold.woff") format("truetype");
  font-display: "swap";
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold", system-ui;
  src: url("../src/assets/fonts/PlusJakartaSans-ExtraBold.woff")
    format("truetype");
  font-display: "swap";
}
