@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../src/assets/fonts/PlusJakartaSans-Regular.woff")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../src/assets/fonts/PlusJakartaSans-Medium.woff") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url("../src/assets/fonts/PlusJakartaSans-SemiBold.woff")
    format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../src/assets/fonts/PlusJakartaSans-Bold.woff") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  src: url("../src/assets/fonts/PlusJakartaSans-ExtraBold.woff")
    format("truetype");
}
